<!DOCTYPE html>
<html class="no-js" lang="fr" prefix="og: http://opg.me/ns# fb : http://opg.me/ns/fb#">

<head>
 	<meta charset="utf-8">
  	<!-- IE | check if last version -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile device | use all viewport without zoom -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>...</title>

    <meta name="description" content="...">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--
    <meta name="google-site-verification" content="" />
	<meta name="google-site-verification" content="" />
	<meta name="google-site-verification" content="" />
	-->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,900">
	<!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../assets/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/dist/css/bootstrap-theme.min.css">
	<!-- Bootstrap CDN -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->
    <!-- FontAwesome -->
	<link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- my CSS -->
	<!--<link rel="stylesheet" href="andershede.css">-->
	<link rel="stylesheet" href="../overlay.css">

	<link rel="stylesheet" href="../../airbnb/common.css">
	<link rel="stylesheet" href="../../airbnb/main.css">


	<link rel="stylesheet" href="../profil_list.css">
	<link rel="stylesheet" href="../product_list.css">
	<link rel="stylesheet" href="../product.css">
	<link rel="stylesheet" href="../global.css">
	<link rel="stylesheet" href="../blockcalendar.css">
	<!--<link rel="stylesheet" href="../style_keljob.css">-->


			<script type="text/javascript" src="../js-lomi/global.js"></script>


	<link rel="stylesheet" href="../style.css">
	<link rel="stylesheet" href="../style-2.css">

	<!-- Flux RSS
	<link rel="alternate" type="application/rss+xml" title="Portfolio of Anders Hede Jensen Feed" href="http://andershede.com/feed/">
	-->

	<!--
	<script async="" src="//www.google-analytics.com/analytics.js"></script>
	-->

	<!-- Modernizr -->
	<script type="text/javascript" src="../assets/js/modernizr.min.js"></script>

	<!-- Canonical URL | Google -->
	<link rel="canonical" href="http://marlou.fr/" />
	
	<!-- Favicon : URL's icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="../favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="../favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="../favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="../favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../favicons/manifest.json">
	<!-- pinned icon | Modern UI Windows 8 -->
	<meta name="msapplication-TileColor" content="#f2ebec">
	<meta name="msapplication-TileImage" content="../favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="..s/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
  
	<!-- Facebook Open Graph protocol -->
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Marlou" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:title" content="MARLOU | Créateur de vêtements unisexes à Paris" />
	<meta property="og:description" content="Marlou est une marque de vêtements unisexes créée en 2014." />
	<meta property="og:url" content="http://www.marlou.fr/" />
	<meta property="article:author" content="https://www.facebook.com/pages/Marlou/345037685595150?fref=ts">
	<meta property="fb:admins" content="345037685595150" />

	<!-- Twitter card -->
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@Marlou"/>
	<meta name="twitter:creator" content="@Marlou"/>
	<meta name="twitter:title" content="MARLOU | Créateur de vêtements unisexes à Paris"/>
	<meta name="twitter:description" content="Marlou est une marque de vêtements unisexes créée en 2014."/>
	<meta name="twitter:image" content="#"/>
	<meta name="twitter:image:src" content="https://www.marlou.fr/"/>
	<meta name="twitter:url" content="https://www.marlou.fr/"/>
	<meta name="twitter:domain" content="Marlou's website"/>

</head>

<body class="">

	<!--[if lt IE 9]>
    <div class="browsehappy">
      <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    </div>
  <![endif]-->

	<div class="site">


		<div id="header" class="airbnb-header new logged_in is_host shift-with-hiw">
			<header class="regular-header clearfix hide-sm" id="old-header" role="banner">
				<ul class="nav pull-right help-menu list-unstyled">
					<li class="list-your-space pull-left">
						<a id="list-your-space" class="btn btn-special list-your-space-btn" href="./cv_form.html">
							Publiez votre CV
						</a>
					</li>
				</ul>
			</header>
		</div>


		<div class="hero shift-with-hiw js-hero">

			<div class="head-img-wrapper hero__background">
				<img class="head-img" src="../img/barista.jpg" alt="" />
			</div>



			<div class="hero__content page-container page-container-full text-center">
				<div class="va-container va-container-v va-container-h">
					<div class="va-middle">
						<h2 class="text-branding text-jumbo text-contrast space-1">
							Rencontrez la bonne personne
						</h2>
						<div class="h4 text-contrast space-4">
							Recrutez le nouvel équipier dont votre coffee-shop a besoin.
						</div>
						<div class="show-sm sm-search hidden-md hidden-lg">
							<div class="input-addon" id="sm-search-field">
								<span class="input-stem input-large fake-search-field">
									Qui cherchez-vous ?
								</span>
								<i class="input-suffix btn btn-primary icon icon-full icon-search"></i>
							</div>
						</div>
<!--
		        <a href="/info/how_it_works"
		           class="btn hide-sm btn-contrast btn-large btn-semi-transparent js-show-how-it-works">
		          Mode d'emploi
		        </a>
-->
					</div>
				</div>
			</div>
		

		    <div class="hero__content-footer hide-sm">
				<div class="col-sm-12">
		 			
		 			<div class="justified col-sm-12 col-md-12 col-lg-12">
						<div class="tri-search-bar ">
							<button class="btn btn-large btn-orange first-btn" type="submit">Barista</button>
							<button class="btn btn-large btn-blue second-btn" type="submit">Cuisinier</button>
							<button class="btn btn-large btn-purple third-btn" type="submit">Serveur</button>
<!--
							<input class="btn btn-large btn-orange first-btn" type="button" value="Cuisinier">
							<input class="btn btn-large btn-blue second-btn" type="button" value="Barista">
							<input class="btn btn-large btn-purple third-btn" type="button" value="Serveur">
-->
						</div>
					</div>
<!--
					<div id="searchbar">
						<div class="searchbar">
							<form id="searchbar-form" action="/s">

								<div class="searchbar__input-wrapper">

							        <label class="searchbar__location">
							          <span class="screen-reader-only">
							            Où cherchez-vous ?
							          </span>
							          <input
							            id="location"
							            type="text"
							            class="input-large input-contrast"
							            autocomplete="off"
							            name="location"
							            placeholder="Où ?" />
							            <div id="searchbar-location-error" class="searchbar__location-error hide">
							              Merci d'entrer une localisation
							            </div>
							        </label>				        

								</div>

								<button
								id="submit_location"
								type="submit"
								class="searchbar__submit btn btn-primary btn-large">
								Rechercher
								</button>

								<input type="hidden" name="source" value="bb">

							</form>
						</div><!-- end searchbar class --
					</div>--><!-- end searchbar id -->

				</div>

				

			</div><!-- end hero footer-->
		</div><!-- end hero -->

<form class="search-form ng-pristine ng-valid" name="searchForm" data-ng-submit="submitSearch(searchForm)" form-autofill-fix="" method="POST">
    <div class="row-search-form">
        <div class="large-11 columns">
            <div class="row-search-form">
                <div class="large-6 columns search-function margin-bottom " id="query">
                    <div class="suggestion-container suggestion-preload">
                        <span class="fake-input" style="display: none;"> </span>
                        <div class="suggestion ng-isolate-scope" label-field="label" key-field="label" prompt="Métier, mots-clés, entreprise" items="autocompleteWords" model="search.q"><input type="search" placeholder="Métier, mots-clés, entreprise" ng-model="search" ng-keydown="onKeyDown($event)" ng-change="filterItems()" ng-focus="onInputFocus()" ng-blur="onInputBlur()" class="ng-pristine ng-valid"><ul ng-show="listVisible &amp;&amp; visible &amp;&amp; filteredItems.length > 0" class="no-margin-bottom ng-hide"><!-- ngRepeat: item in filteredItems --></ul><!-- ngIf: labelClass --></div>
                    </div>
                </div>
                <div class="large-6 columns search-place">
                    <div class="row-search-form collapse suggestion-container margin-bottom suggestion-preload" id="location">
                        <div class="columns">
                            <div class="suggestion ng-isolate-scope" model="search.l" on-select="submitSearch" label-class="fa fa-map-marker">
                            	<input type="search" placeholder="Ville, département, région" ng-model="model.label" ng-keydown="onKeyDown($event)" class="ng-pristine ng-valid" autocomplete="off"><!-- ngIf: labelClass -->
                            	<label class="postfix ng-scope" for="place" ng-if="labelClass">
                            		<i class="fa fa-map-marker"></i>
                            	</label><!-- end ngIf: labelClass -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class=" medium-12 large-1 columns search-button margin-bottom">
            <button type="submit">
                <span class="icon-rechercher" ng-class="{'fa fa-spinner fa-pulse': isWaiting, 'icon-rechercher' : !isWaiting}"></span>
            </button>
        </div>
    </div>
</form>

<!-- airbnb cards
<div class="panel panel-dark no-border-top">
	<div id="discovery-container">
		<div class="discovery-section hide page-container-responsive page-container-no-padding" id="discovery-saved-searches">
		</div>

		<div class="discovery-section hide page-container-responsive page-container-no-padding" id="weekend-recommendations">
		</div>

		<div class="discovery-section page-container-responsive page-container-no-padding row-space-6"
         id="discover-recommendations">



      <div class="discovery-tiles">
        <div class="homepage-module">
          
			<div class="row">

			  <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm row-space-4">
			  <div class="discovery-card-blank">
			    <div class="">
			        <div class="discovery-card">
			          <div class="va-container va-container-v va-container-h">
			            <div class="va-middle text-center">
			              <i class="icon icon-picture icon-size-4
			                discovery-loading-icon"></i>
			            </div>
			          </div>
			        </div>
			    </div>
			  </div>
			</div>

			    <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm ">
			      <div class="discovery-card rm-padding-sm row-space-4  discovery-card-blank"
			      style=""
			      data-sm-img-url="">
			    <div class="va-container va-container-v va-container-h">
			      <div class="va-middle text-center text-contrast">
			          <i class="icon icon-picture icon-size-4 discovery-loading-icon"></i>
			      </div>
			    </div>
			</div>

			    </div>
			    <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm hide-sm">
			      <div class="discovery-card rm-padding-sm row-space-4  discovery-card-blank"
			      style=""
			      data-sm-img-url="">
			    <div class="va-container va-container-v va-container-h">
			      <div class="va-middle text-center text-contrast">
			          <i class="icon icon-picture icon-size-4 discovery-loading-icon"></i>
			      </div>
			    </div>
			</div>

			    </div>
			    <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm hide-sm">
			      <div class="discovery-card rm-padding-sm row-space-4  discovery-card-blank"
			      style=""
			      data-sm-img-url="">
			    <div class="va-container va-container-v va-container-h">
			      <div class="va-middle text-center text-contrast">
			          <i class="icon icon-picture icon-size-4 discovery-loading-icon"></i>
			      </div>
			    </div>
			</div>

			    </div>

			  <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm row-space-4">
			  <div class="discovery-card-blank">
			    <div class="">
			        <div class="discovery-card">
			          <div class="va-container va-container-v va-container-h">
			            <div class="va-middle text-center">
			              <i class="icon icon-picture icon-size-4
			                discovery-loading-icon"></i>
			            </div>
			          </div>
			        </div>
			    </div>
			  </div>
			</div>

			  <div class="col-lg-8 col-md-12 hide-sm rm-padding-sm">
			    <div class="discovery-card rm-padding-sm row-space-4  discovery-card-blank"
			      style=""
			      data-sm-img-url="">
			    <div class="va-container va-container-v va-container-h">
			      <div class="va-middle text-center text-contrast">
			          <i class="icon icon-picture icon-size-4 discovery-loading-icon"></i>
			      </div>
			    </div>
			</div>

			  </div>

			    <div class="col-lg-4 col-md-6 hide-sm rm-padding-sm col-switch col-md-push-6 col-lg-push-0">
			      <div class="discovery-card rm-padding-sm row-space-4  discovery-card-blank"
			      style=""
			      data-sm-img-url="">
			    <div class="va-container va-container-v va-container-h">
			      <div class="va-middle text-center text-contrast">
			          <i class="icon icon-picture icon-size-4 discovery-loading-icon"></i>
			      </div>
			    </div>
			</div>

			    </div>
			    <div class="col-lg-4 col-md-6 hide-sm rm-padding-sm ">
			      <div class="discovery-card rm-padding-sm row-space-4  discovery-card-blank"
			      style=""
			      data-sm-img-url="">
			    <div class="va-container va-container-v va-container-h">
			      <div class="va-middle text-center text-contrast">
			          <i class="icon icon-picture icon-size-4 discovery-loading-icon"></i>
			      </div>
			    </div>
			</div>

			    </div>
			    <div class="col-lg-4 col-md-6 hide-sm rm-padding-sm ">
			      <div class="discovery-card rm-padding-sm row-space-4  discovery-card-blank"
			      style=""
			      data-sm-img-url="">
			    <div class="va-container va-container-v va-container-h">
			      <div class="va-middle text-center text-contrast">
			          <i class="icon icon-picture icon-size-4 discovery-loading-icon"></i>
			      </div>
			    </div>
			</div>

			    </div>
			</div>


        </div>
      </div>
    </div>
  </div>
</div>
airbnb cards end -->


<?php
try
{
    // On se connecte à MySQL
    $bdd = new PDO('mysql:host=localhost;dbname=my_base;charset=utf8', 'root', 'root');
}
catch(Exception $e)
{
    // En cas d'erreur, on affiche un message et on arrête tout
        die('Erreur : '.$e->getMessage());
}

// Si tout va bien, on peut continuer

// On récupère tout le contenu de la table jeux_video
$reponse = $bdd->query('SELECT * FROM jeux_video');

// On affiche chaque entrée une à une
while ($donnees = $reponse->fetch())
{
?>
    <p>
    <strong>Jeu</strong> : <?php echo $donnees['nom']; ?><br />
    Le possesseur de ce jeu est : <?php echo $donnees['possesseur']; ?>, et il le vend à <?php echo $donnees['prix']; ?> euros !<br />
    Ce jeu fonctionne sur <?php echo $donnees['console']; ?> et on peut y jouer à <?php echo $donnees['nbre_joueurs_max']; ?> au maximum<br />
    <?php echo $donnees['possesseur']; ?> a laissé ces commentaires sur <?php echo $donnees['nom']; ?> : <em><?php echo $donnees['commentaires']; ?></em>
   </p>
<?php
}

$reponse->closeCursor(); // Termine le traitement de la requête

?>



    



		<!-- Profiles list -->
					<ul class="product_list grid row">		        
				        
						<li class="lomi_product ajax_block_product col-xs-12 col-sm-6 col-md-4 first-in-line first-item-of-tablet-line first-item-of-mobile-line">
				        
				        
				        	<a class="lomi_pdt_link" href="http://" title="" itemprop="url">
<!--
				        		 <div class="slide-veil">
										<img class="strap-color" src="../img/blue.svg" alt="" />
								</div>
-->
				        		
				                <img class="lomi_pdt_bg" src="../img/cuisinier.jpg" alt="" title="" itemprop="image" />
				                
				                <div class="lomi_pdt_hover verticalAlign">
				                    
				                	<!---
				                    19-49<br>
				                    TEST HAHAH<br>
				                    http://www.cafelomi.com/49-home_default/assemblage-la-goutte-d-or.jpg
				                    -->
				                    
				            		<!--<img src="../img/barista.jpg"   />-->
				                    
				                    <div class="lomi_pdt_name">Paul Martin</div>
				                    
				                    <div class="lomi_pdt_price">
				                    	<span>8,90 €</span>
				                    </div>
				                </div>
				                
				                <div class="lomi_pdt_mask" style="background-color:#FCC206" ></div>               
				            
				            </a>

						</li>
													        
				        
						<li class="lomi_product ajax_block_product col-xs-12 col-sm-6 col-md-4 last-item-of-tablet-line">
				        
				        	<a class="lomi_pdt_link" href="http://www.cafelomi.com/accueil/20-assemblage-home-sweet-home.html" title="Assemblage Home Sweet Home" itemprop="url">
				        		
				                <img class="lomi_pdt_bg" src="http://www.cafelomi.com/39-home_default/assemblage-home-sweet-home.jpg" alt="Assemblage Lomi Home Sweet Home" title="Assemblage Lomi Home Sweet Home" itemprop="image" />
				                
				                <div class="lomi_pdt_hover verticalAlign">
				                    
				                	<!---
				                    20-50<br>
				                    TEST HAHAH<br>
				                    http://www.cafelomi.com/50-home_default/assemblage-home-sweet-home.jpg
				                    -->
				                    
				                        <img src="http://www.cafelomi.com/50-icone_pays/assemblage-home-sweet-home.jpg"   />
				                    
				                    <div class="lomi_pdt_name">John Smith</div>
				                    
				                    <div class="lomi_pdt_price">
				                    	                    	<span>8,90 €</span></div>
				                                                            </div>
				                
				                <div class="lomi_pdt_mask"   style="background-color:#FCC206" ></div>
				            
				            
				            </a>

						</li>
										        
				        
						<li class="lomi_product ajax_block_product col-xs-12 col-sm-6 col-md-4 first-in-line last-line first-item-of-tablet-line first-item-of-mobile-line last-mobile-line">
				        
				        
				        	<a class="lomi_pdt_link" href="http://www.cafelomi.com/accueil/71-bresil-daterra-yellow-bourbon.html" title="Brésil Daterra Yellow Bourbon" itemprop="url">
				        		
				                <img class="lomi_pdt_bg" src="http://www.cafelomi.com/151-home_default/bresil-daterra-yellow-bourbon.jpg" alt="Brésil Daterra Sweet Collection" title="Brésil Daterra Sweet Collection" itemprop="image" />
				                                
				                <div class="lomi_pdt_hover verticalAlign">
				                    
				                	<!---
				                    71-153<br>
				                    TEST HAHAH<br>
				                    http://www.cafelomi.com/153-home_default/bresil-daterra-yellow-bourbon.jpg
				                    -->
				                    
				                                        <img src="http://www.cafelomi.com/153-icone_pays/bresil-daterra-yellow-bourbon.jpg"   />
				                                        
				                    
				                    <div class="lomi_pdt_name">Helena Sjön</div>
				                    
				                    <div class="lomi_pdt_price">
				                    	                    	<span>10,30 €</span></div>
				                                                            </div>
				                
				                <div class="lomi_pdt_mask"   style="background-color:#E63E12" ></div>        
				            
				            </a>

						</li>
					</ul>    
		<!-- end Profiles list -->

	</div><!-- end site -->

	<!--<script type="text/javascript" src="assets/js/scripts.min.js"></script>-->
	<script type="text/javascript" src="../assets/js/scripts.min.js"></script>
	<script type="text/javascript" src="../assets/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/my_script.js"></script>
	<!-- within viewport
	<script src="assets/js/within-viewport-master/withinViewport.js"></script>
	<script src="assets/js/within-viewport-master/jquery.withinViewport.js"></script>
	-->
	<!-- MouseWheel | scroll gets horizontal -->
	<script src="../assets/js/jquery-mousewheel-master/jquery.mousewheel.js"></script>
	
	<!-- jQuery -->
	<script src="../assets/js/jquery-1.11.2.js"></script>
	<script src="../assets/js/jquery-migrate.min.js"></script>
	<!-- portfoliojs (unified with all dependencies) -->
	<script src="../assets/js/portfoliojs/jquery.easing.1.3.min.js"></script>
	<script src="../assets/js/portfoliojs/jquery.imagesloaded.min.js"></script>
	<script src="../assets/js/portfoliojs/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="../assets/js/portfoliojs/jquery.touchSwipe.min.js"></script>
	<script src="../assets/js/portfoliojs/spin.min.js"></script>
	<script src="../assets/js/portfoliojs/portfolio.js"></script>

</body>
</html>