/* which_publication_sm.css */

#page {
  height: calc(100% - 70px);
  width: 100%;
}

.page-container {
  width: 100%;
  height: 100%;
}

#header {
  background: #27898A;
  position: relative;
}

.logo a {
  margin-left: 18px;
  margin-top: 18px;
  color: #FFF;
  line-height: 1.2;
  font-size: 14px;
}

.page-title-container {
  background-color: #424242;
}

.left-side,
.right-side {
  height: 50%;
  width: 100%;
  font-size: 30px;
}

.left-side a,
.right-side a {
  position: relative;
  display: block;
  height: 100%;
  padding: 5px 20px;
  font-size: 18px;
  color: #FFF;
  /*text-shadow: 0px 1px rgba(0, 0, 0, 0.44);*/
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
}

.left-side span,
.right-side span {
  width:200px;
  height:200px;
  line-height:200px; /* centrage vertical */
  text-align:center; /* centrage horizontal */
}


.left-side a {
  background-color: #EAEAEA;
  color: #27898A;
}

.right-side a {
  background-color: #27898A;
}
